[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
torch = "*"
torchvision = "*"
spacy = "*"
rouge = "*"
sumy = "*"
yapf = "*"
tqdm = "*"
"4547064" = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.0.0/en_core_web_lg-2.0.0.tar.gz"}

[dev-packages]

[requires]
python_version = "2.7"
