[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
torch = "*"
torchvision = "*"
spacy = "*"
rouge = "*"
sumy = "*"
yapf = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "2.7"
